.footer
  .footer-main
    .footer-block.footer-costa
      %span.footer-title
        Costa Tenerife
      %ul.footer-list
        %li
          %a(href = "/")
            Главная
        %li
          %a(href = "/")
            Недвижимость
        %li
          %a(href = "/")
            Добавить обьект
        %li
          %a(href = "/")
            Компании
        %li
          %a(href = "/")
            Новости
    .footer-block.footer-new
      %span.footer-title
        Новости
      .footer-news-block
        %img{"ng-src" => "/assets/photo_footer.png"}
        .footer-news-text
          Интересные факты про канарские островы
        %a(href = "/")
          Подробнее
      .footer-news-block
        %img{"ng-src" => "/assets/photo_footer1.png"}
        .footer-news-text
          Интересные факты про канарские островы
        %a(href = "/")
          Подробнее
    .footer-block.footer-contact
      %span.footer-title
        Контакты
      .after-title
        %p C.Alcalde Walter Paetzmann, Hotel Gran Tacande, 38670, Adeje, Tenerife, Espana

        %p
          .footer-tel
            tel:
          (+34)637-12-00-12
        %p
          .footer-tel
            tel:
          (+34)922-71-69-12
        %p
          .footer-tel
            tel:
          (+34)683-61-67-28
        %p
          .footer-tel
            Email:
          office@costatenerife.com
    .footer-block.footer-sub
      %span.footer-title
        Подписка
      .after-title
        %p
          Хотите быть в курсе последних тенденций и новостей из мира туризма и недвижимости в Испании?
          %br
          Подпишитесь на нашу рассылку!
        %form.sub-form
          %input.sub-input{:placeholder => ""}
          %button.btn-sub{:type => "button"}

  .footer-line

    .costatenerife2013
    .socialnet
      .facebook
      .google
      .twitter
      .linkedin
