.row
  .large-12.columns
    %h5.subheader
      Выберите тип обьявления
  .large-6.columns
    %button(ui-sref="new({type:true})" )
      Жилая недвижимость
  %br
  .large-6.columns
    %button(ui-sref="new({type:false})" )
      Коммерческая недвижимость






