%div
  .row
    .large-12.columns
      %fieldset
        %legend
          %small
            Поиск по ID
    .large-12.columns
      %fieldset
        %legend
          %small
            Спец предложения
      %fieldset
        %legend
          %small
            Категории